* {
    padding: 0;
    margin: 0;
    /* font-family: boldfont; */
}

@font-face {
    font-family: boldfont;
    src: url(Resources/NeueHaasDisplayBold.ttf);
}

@font-face {
    font-family: lightfont;
    src: url(Resources/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: mediumfont;
    src: url(Resources/NeueHaasDisplayThin.ttf);
}

@font-face {
    font-family: thinfont;
    src: url(Resources/NeueHaasDisplayRoman.ttf);
}

body,
html {
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    padding: 1vw 8vw;
    background-color: #111111;
    border-bottom: 1px solid wheat;
    z-index: 999;

}
#main{
    height:100%;
    width:100%;
}

nav .options {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}
nav .options div h4{
    padding: 1vw 2vw;
    font-size: 1vw;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav .options div:hover h4:not(.drop) {
    color: #0DA34E;
    cursor: pointer;
}

nav .options svg {
    width: 1vw;
    height: 1vw;
    justify-content: center;
    align-items: center;
    transition: all ease .3s;
}

nav .bg{
    width:10vw;
    height:2.5vw;
    /* background-color: #0DA34E; */
    border: none;
    border-radius: 10vw;
    transition: all ease 1s;
    overflow: hidden;
}
nav .bg .b{
    width:10vw;
    height:2.5vw;
    background-color: #0DA34E;
    border: none;
    border-radius: 10vw;
    z-index: 0;
    transition: all ease 1s;

}
nav .talk {
    position: absolute;
    right:7.5vw;
    width:10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
    
    /* transition: all ease 5s; */
    
}
nav .talk .arrow{
    display: none;
}

nav .talk:hover span{
    color:#0DA34E;
    transform: translateX(-10px);
    background-color: transparent;
}
nav .talk:hover .pensil{
    display: none;
    
}
.bg:hover .b{
    transform: translateX(7.5vw);
}
nav .talk:hover .arrow{
    display: block;
}


nav .dropdown {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: aliceblue;
    gap: 1vw;
    color: #102017;
    top: 80%;
    right: 45%;
    width: 10vw;
    border-radius: 1vw;
    font-family: thinfont;
    font-weight: 200;
    font-size: .8vw;
    padding: 2vw 1.5vw;
    line-height: 1.5vw;
    display: none;
    
   

}

.line {
    height: .05vw;
    opacity: 0.2;
    width: 100%;
    background-color: #111111;
    margin-top: .4vw;
}

.drop h4:hover {
    background-color: #3D3D3D;
    border: none;
    border-radius: 5vw;
    cursor:context-menu;
}
.drop h4:hover svg {
    rotate:180deg;
}

nav:hover .dropdown{
    /* height: auto; */
    display: block;
    /* opacity: 1; */
}
 


#first {
    box-sizing: border-box;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 5vw;
    background-color: #111111;
    color: white;
    padding: 0 10vw;

}

#first .text {
    font-size: 2.5vw;
    /* text-transform: uppercase; */
}

#first .bottom {
    font-family: thinfont;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
}

#first .bottom span {

    font-family: thinfont;
    color: #102017;
    border: 1px solid #102017;
    border-radius: 2vw;
    padding: .2vw .5vw;
    background-color: #9cf3c3;
}
#second{
    box-sizing: border-box;
    width:100vw;
    height:100vh;
    background-color:#111111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    position: relative;
}
#second .video{
    width:100%;
    height:100%;
    background-color: bisque;
    border-radius:3vw;

    
}
#second .video video{
    height: 100%;
     width:100%;
     object-fit: cover;
     border-radius:2.8vw ;
     transform: scaleX(1) scaleY(1);
}
#second .circle{
    position: absolute;
    height:8vw;
    width:8vw;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#0DA34E;
    font-size: .8vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vw;
    text-transform: uppercase;
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    
}
#second .circle h4{
    text-align: center;
}
/* #second .video:hover ~ .circle{
    opacity: 1;
    transform: scaleX(1) scaleY(1);

} */
#third{
    box-sizing: border-box;
    width:100vw;
    height:100vh;
    padding:5vw 10vw;
    color:white;
    background-color: #111111;
}
#third .upper{
    display: flex;
    justify-content: center;
    gap:.5vw;
    height:50%;
}
#third .upper ._box{
    box-sizing: border-box;
    width:33%;
    height:100%;
    background-color:#3D3D3D;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2vw 0  2vw 2vw;
}
#third .bottom{
    display: flex;
    justify-content: center;
    gap:1vw;
    height:50%;
    margin-top: 1vw;
}
#third .bottom ._box{
    box-sizing: border-box;
    width:49%;
    height:100%;
    background-color: #3D3D3D;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2vw 0  2vw 2vw;
}
#third h3,p{
    color: rgba(245, 245, 245, 0.67);
    font-weight: 100;
}
#fourth{
    box-sizing: border-box;
    width:100vw;
    height:100vh;
    padding:0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5vw;
    background-color: #111111;
    color: white;

}
#fourth .b1{
    font-size: 6vw;
    font-family: boldfont;
    font-weight: 1100;
}
#fourth .b2{
    font-size: 2vw;
    text-align:right;
}
#fourth .button{
    padding: 1.5vw 2vw;
    background-color: white;
    border-radius: 2.5vw;
    text-transform: uppercase;
    font-size: 1vw;
    font-family:  sans-serif;
    color: black;

}
#fifth{
    width:100vw;
    min-height:100vh;

}
